@import "./header";
@import "./multiStepperForm";
@import "./heroSection";
@import "./content";
@import "./footer";


.flex-between{
    align-items: center;
    span{display: flex; align-items: center; gap: 10px;}
}